$black: #000000;
$dark: #353535;
$dark-blue: #1d3f6f;
$light-blue: #cfddf8;
$pink: #fac0bf;
$light-yellow: #fbf3dc;
$cta-color: #deb65d;
$pure-white: #ffffff;
$creme-white: #f3f3f3;
$turqoise: #053f50;
