@use "colors" as *;

html {
	font-size: 62.5%;
	scroll-padding-top: 50px;
	scroll-behavior: smooth;
}

body {
	position: relative;
	font-size: 1.6rem;
}

.wrapper {
	margin: 0 auto;
	width: min(100%, 1200px);
}

.disable-scroll {
	overflow-y: hidden;
}

// font-family: 'Amatic SC', sans-serif;
// font-family: 'Andika', sans-serif;
// font-family: 'Montserrat', sans-serif;

//header

.header {
	position: relative;
	display: flex;
	flex-direction: column;

	.navbar {
		position: fixed;
		width: 100%;
		background-color: $pink;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
		z-index: 250;

		.wrapper {
			display: flex;
			justify-content: space-between;
			align-items: center;

			.logo {
				display: flex;
				align-items: center;
				padding: 0.5em;
				color: $black;
				text-decoration: none;
				z-index: 250;

				&__icon {
					width: 45px;
					height: 45px;
					transition: transform 0.6s;
				}

				&__text {
					margin-top: 0.25em;
					transition: transform 0.4s;

					&-upper,
					&-lower {
						font-family: "Andika", sans-serif;
						font-weight: 500;
						line-height: 1em;
						color: $dark-blue;
					}
				}
			}

			.logo:hover .logo__icon {
				transform: rotate(-90deg);
			}

			.logo:hover .logo__text {
				transform: scale(0.95);
			}

			.nav-desktop {
				display: none;
			}
		}
	}

	&__image,
	&__text {
		background-color: $light-blue;
	}

	&__image {
		margin-top: 2em;

		&-img {
			width: 100%;
		}
	}

	&__text {
		position: relative;
		text-align: center;

		&-heading {
			padding: 0 1em;
			font-family: "Amatic SC", sans-serif;
			font-size: 3.5rem;
			font-weight: 400;
			color: $dark-blue;
			z-index: 2;
		}

		&-description {
			position: relative;
			margin-top: 1em;
			padding: 0 2em;
			font-family: "Andika", sans-serif;
			font-size: 1.5rem;
			color: $dark;
			z-index: 2;
		}

		&-cta {
			margin: 2.5em 0;
			padding: 0.8em 1.6em;
			font-family: "Montserrat", sans-serif;
			font-size: 1.5rem;
			background-color: $cta-color;
			border: none;
			border: 1px solid black;
			border-radius: 20px;
			transition: background-color 0.3s, color 0.3s, border-color 0.3s;
			cursor: pointer;

			&:hover {
				background-color: $dark;
				color: $cta-color;
				border-color: $cta-color;
			}
		}

		&-decoration {
			display: none;
			position: absolute;
			color: $pure-white;
			opacity: 0.15;
			z-index: 1;

			&--first {
				top: -5em;
				left: 12em;
				width: 370px;
			}

			&--second {
				width: 390px;
				bottom: 0;
				right: 12em;
			}
		}
	}

	.nav-mobile {
		position: absolute;
		top: 68px;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(4, 1fr);
		place-items: center;
		width: 100%;
		height: calc(100vh - 68px);
		background-color: rgb(255, 201, 210);
		transform: translateY(-1000px);
		transition: transform 0.5s ease-out;

		&__item {
			padding: 2em 4em;
			font-family: "Andika", sans-serif;
			font-size: 1.85rem;
			color: $dark-blue;
			text-decoration: none;
			cursor: pointer;
		}
	}

	.show-mobile {
		transform: translateY(0);
	}
}

//main

main {
	// .section {
	// 	// padding: 2em 4em;
	// }

	.aboutme {
		position: relative;
		background-color: $light-yellow;

		.waves {
			width: 100%;
			height: 50px;
		}
	}
}
