html {
	font-size: 62.5%;
	scroll-padding-top: 50px;
	scroll-behavior: smooth;
}

body {
	position: relative;
	font-size: 1.6rem;
}

.wrapper {
	margin: 0 auto;
	width: min(100%, 1200px);
}

//header

.header {
	position: relative;
	display: flex;
	flex-direction: column;

	.navbar {
		display: flex;
		justify-content: space-between;

		.logo {
			display: flex;
		}

		.nav-desktop {
			display: none;
		}
	}

	.nav-mobile {
		display: none;
		position: absolute;
	}
}
