@use "colors" as *;

@media (min-width: 768px) {
	.header {
		.navbar {
			.wrapper {
				.logo {
					padding: 1em;

					&__icon {
						width: 55px;
						height: 55px;
					}

					&__text {
						&-upper,
						&-lower {
							font-size: 1.7rem;
						}

						&-upper {
							margin-bottom: 0.25em;
						}
					}
				}

				.hamburger {
					padding: 25px;
				}
			}
		}

		.nav-mobile {
			&__item {
				padding: 3em 10em;
				font-size: 2.4rem;
			}
		}

		&__text {
			&-heading {
				font-size: 5rem;
			}

			&-description {
				padding: 0 5em;
				font-size: 1.6rem;
			}

			&-cta {
				padding: 0.9em 1.8em;
				font-size: 1.6rem;
				border-radius: 25px;
			}
		}
	}

	main {
		.aboutme {
			.waves {
				height: 80px;
			}

			.wrapper {
				.aboutme-box {
					&__photo {
						width: 210px;
						height: 210px;
					}

					&__description {
						padding: 2em 3.5em;
						font-size: 1.8rem;
					}
				}

				.certificates-box {
					grid-template-columns: repeat(3, 1fr);
					grid-template-rows: repeat(2, 1fr);
					place-items: center;
					gap: 0;
					padding: 1.5em;

					&__certificate {
						margin: 1.25em 0;
					}
				}
			}
		}
	}
}

@media (min-width: 992px) {
	.header {
		.navbar {
			.wrapper {
				.hamburger {
					display: none;
				}

				.nav-desktop {
					display: inline-block;

					&__item {
						padding: 0.5em 1em;
						font-family: "Andika", sans-serif;
						font-size: 2rem;
						color: $dark-blue;
						border-radius: 25px;
						text-decoration: none;
						transition: color 0.3s, background-color 0.3s;

						&:hover {
							color: #000000;
							background-color: $light-blue;
						}
					}
				}
			}
		}

		&__image {
			margin-top: 5em;
			&-img {
				height: 400px;
			}
		}

		&__text {
			&-description {
				padding: 0 15em;
				line-height: 2em;
			}

			&-decoration {
				display: block;
			}
		}

		.nav-mobile {
			display: none;
		}
	}

	main {
		.aboutme {
			.wrapper {
				.aboutme-box {
					position: relative;
					flex-direction: row;
					margin-top: 5em;
					padding: 1.5em;

					&__photo {
						width: 250px;
						height: 250px;
					}

					&__description {
						padding: 0 2em 0 5em;
						line-height: 2em;
					}

					&__decoration {
						display: block;
						position: absolute;
						top: -8em;
						right: -5em;
						width: 500px;
						rotate: 30deg;
						opacity: 0.02;
					}
				}

				.certificates-box {
					&__decoration {
						display: block;
						position: absolute;
						left: -5em;
						bottom: 2;
						width: 600px;
						opacity: 0.02;
						transform: rotate(15deg);
					}
				}
			}
		}
	}
}
